body {
    /* background-color: #f8f3eb; */
}

i {
    color: #40bad5;
}

hr {
    color: white;
    border-style: solid none none;
}

li {
    list-style-type: square;
}

hr {
    background-color: #40bad5;
    height: 0.5px;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

.profile-image {
    border-radius: 100%;
    width: 200px;
    height: 200px;
}

.title {
    color: #40bad5;
}

.badge-color {
    background-color: #40bad5;
}

.circle-icon {
    font-size: x-large !important;
}
